# .editorconfig - Default settings

# root = true

# [*]
# charset = utf-8
# end_of_line = lf
# insert_final_newline = true
# indent_style = space
# indent_size = 4
# trim_trailing_whitespace = true

# [*.cs]
# indent_size = 4
# dotnet_sort_system_directives_first = true
# dotnet_separate_import_directive_groups = true

# [*.{js,ts,jsx,tsx}]
# indent_size = 2

# [*.md]
# trim_trailing_whitespace = false


# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# files
[*.{cs,csx,vb,vbx}]
charset = utf-8-bom
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true

# C# formatting rules
[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_anonymous_types = true
csharp_preserve_single_line_arrays = true
csharp_preserve_single_line_object_initializers = true
csharp_preserve_single_line_control_blocks = true
csharp_preserve_single_line_lambda_expressions = true

# Indentation
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = one_less_than_current
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_open_brace = new_line
csharp_indent_close_brace = new_line
csharp_indent_array_initializer_expression = true
csharp_indent_anonymous_method_expression_body = true
csharp_indent_lambda_expression_body = true
csharp_indent_preserve_single_line_blocks = true
csharp_indent_preserve_single_line_statements = true
csharp_indent_preserve_single_line_anonymous_types = true
csharp_indent_preserve_single_line_arrays = true
csharp_indent_preserve_single_line_object_initializers = true
csharp_indent_preserve_single_line_control_blocks = true
csharp_indent_preserve_single_line_lambda_expressions = true

# Spacing
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_between_square_brackets = false
csharp_space_around_binary_operators = before_and_after
csharp_space_around_declaration_statements = true
csharp_space_around_casts = false
csharp_space_around_null_coalescing_operator = before_and_after
csharp_space_around_other_operators = before_and_after
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_before_colon_in_conditional_expression = true
csharp_space_before_semicolon_in_for_statement = false
csharp_space_after_semicolon_in_for_statement = true
csharp_space_before_open_square_brackets = false
csharp_space_after_open_square_brackets = false
csharp_space_before_close_square_brackets = false
csharp_space_after_close_square_brackets = false
csharp_space_before_comma = false
csharp_space_after_comma = true
csharp_space_before_dot = false
csharp_space_after_dot = false
csharp_space_between_empty_square_brackets = false
csharp_space_before_open_parenthesis = false
csharp_space_between_empty_parentheses = false
csharp_space_after_open_parenthesis = false
csharp_space_before_close_parenthesis = false
csharp_space_after_close_parenthesis = false
csharp_space_before_open_brace = true
csharp_space_after_open_brace = true
csharp_space_before_close_brace = true
csharp_space_after_close_brace = true
csharp_space_between_empty_braces = false

# Code style rules
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion
dotnet_style_predefined_type_for_locals_parameters_members = true:suggestion
dotnet_style_predefined_type_for_member_access = true:suggestion
dotnet_style_predefined_type_for_builtin_types = true:suggestion
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_require_accessibility_modifiers = always:error
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
file_header_template = Copyright (c) FandaTech. All rights reserved.
# End of .editorconfig